---
export interface Props {
  title: string;
  description: string;
  keywords?: string;
  schema?: string;
  image?: string;
  canonicalURL?: string;
}

const {
  title,
  description,
  keywords = "astro, seo, template",
  schema,
  image,
  canonicalURL = new URL(Astro.url.pathname, Astro.site || Astro.url).href,
} = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<link rel="canonical" href={canonicalURL} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={new URL(image, Astro.url)} />}

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={canonicalURL} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
{image && <meta name="twitter:image" content={new URL(image, Astro.url)} />}

{schema && (
  <script type="application/ld+json" set:html={schema} />
)}
